:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
}
#root{
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex:1;
  width: 96%;
  height: auto;
  max-height: 100%;

  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
}
body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
main{
  margin: 2%;
  display:flex;
  height: 100%;
}
section {
  display:flex;
  border: 1px solid white;
  height: auto;
  margin: 0.5%;
}
#left-bar{
  display: flex;
  flex:1;
  flex-direction: column;
  background-color: #17193b;
}
#right-bar{
  flex:2;
}
div{
  display:flex;
  border: 1px solid white;
  padding:10px
}
div .name-block{
  flex:1
}
div .contacts-block{
  flex:1.5;
}
div .summary-block{
  flex:2
}

@media (max-width: 700px) {
  #root{
    max-height: none;
  }
  main {
    display: flex;
    flex-direction: column;
  }

  #left-bar,
  #right-bar {
    flex: 1;
    height: 100%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
